In [1]:
#draw a block of squares
import turtle as t

t.reset()
t.penup()
x = 200
t.goto(-200,x)
for k in range(4):
    for j in range(4):
        t.pendown()
        t.circle(30)    
        t.penup()
        t.forward(60)
x = x - 60
t.penup()
t.goto(-200,x)

In [2]:
def square(x):
    for i in range(4):
        t.forward(x)
        t.left(90)

In [3]:
import turtle as t

t.reset()
length = 40
columns = 3
rows = 3

for i in range(rows):
    for i in range(columns):
        square(length)
        t.penup()
        t.forward(length)
        t.pendown()
    t.penup()
    t.backward(columns*length)
    t.left(90)
    t.forward(length)
    t.right(90)
    t.pendown()

In [4]:
def star(size):
    import turtle as t 
    for i in range(20):
        t.pendown()
        t.forward(size)
        t.left(162)
        t.penup()

import turtle as t

t.reset()
length = 60
columns = 3
rows = 3

for i in range(rows):
    for i in range(columns):
        star(60)
        t.penup()
        t.forward(length)
        t.pendown()
    t.penup()
    t.backward(columns*length)
    t.left(90)
    t.forward(length)
    t.right(90)
    t.pendown()

In [5]:
def shape(sides=4,length=100): #default quadrilateral if measurements not provided is square with 100 units length. When other measurements are provided shape adapts
    for i in range(sides):
        t.forward(length)
        t.left(360/sides)

In [6]:
import turtle as t
t.reset()
shape() #print default shape(square)
t.penup()
t.goto(-200,100)
t.pendown()

shape(6) #prints hexagon with unit length 100
t.penup()
t.goto(200,100)
t.pendown()

shape(3,70) #prints tringle with sides 70 units
t.penup()
t.goto(0,-100)
t.pendown()
star(60)

Write a function that takes a list [name, age, city]
and prints  it nicely
For example:
    student = ["Orla", 21, "Glasgow"]
Then print
    Orla : 23 : Glasgow

In [7]:
tutors = [["Orla", 22, "London"],["Stephen",30, "St Andrews"],["Sofiat", 25, "Lagos"], ["Fionnuala", 100, "Dublin"]]

In [22]:
def print_list(name):
    print(f"{name[0]:<10} : {name[1]:^5} : {name[2]:>10}")

In [23]:
student = ["Orla", 21, "Glasgow"]
print_list(student)

Orla       :  21   :    Glasgow

In [33]:
def print_list(name):
    for item in name:
        print(f"{item[0]:<10} : {item[1]:<10} : {item[2]:<10}")

In [34]:
tutors = [["Orla", 22, "London"],["Stephen",30, "St Andrews"],["Sofiat", 25, "Lagos"], ["Fionnuala", 100, "Dublin"]]
print_list(tutors)

Orla       : 22         : London
Stephen    : 30         : St Andrews
Sofiat     : 25         : Lagos
Fionnuala  : 100        : Dublin

In [38]:
def print_list(item):
    print(f"{item[0]:<10} : {item[1]:<10} : {item[2]:<10}")

for i in range(len(tutors)):
    print_list(tutors[i])

Orla       : 22         : London
Stephen    : 30         : St Andrews
Sofiat     : 25         : Lagos
Fionnuala  : 100        : Dublin

In [40]:
def f(x):
    return x + 5

y = f(10)
print(y)

15

In [ ]:
write a function to:
    square a number
    take a list of numbers and return a total of all of the numbers in the list
    take a list and return the number of elements in  a list
    takes a list of numbers and returns average of the numbers in one line

In [49]:
def sq(x):
    return x**2
z = sq(9)
print(z)

81

In [50]:
prime = [2,3,5,7]

def add(name):
    total = 0
    for i in range(len(name)):
        total = total + name[i]
    return total

add(prime)

17

In [51]:
def length(grade):
    return len(grade)
    
length(prime)

4

In [52]:
def avg(name):
    total = 0
    count=0
    for i in range(len(name)):
        total = total + name[i]
        count=count+1
    average=total/count
    return average

avg(prime)

4.25