    WORKING WITH LISTS

In [1]:
colors = ["yellow", "blue", "white"]

print(colors[1:])

['blue', 'white']

In [2]:
countries = ["Kenya", "Scotland", "Nigeria", "Uganda", "Ireland", "Tanzania", "Rwanda", "Congo"]

print(countries[2])

Nigeria

In [3]:
print(countries[7])
print(countries[-1])

Congo
Congo

In [4]:
print(countries[0])

Kenya

In [5]:
print(countries[1:5])

['Scotland', 'Nigeria', 'Uganda', 'Ireland']

In [6]:
print(countries[:4])

['Kenya', 'Scotland', 'Nigeria', 'Uganda']

In [7]:
print(countries[-3],countries[-2],countries[-1])
print(countries[-3:])

Tanzania Rwanda Congo
['Tanzania', 'Rwanda', 'Congo']

In [8]:
print(countries[1])
print(countries[1:2])

Scotland
['Scotland']

In [9]:
for country in countries[2:6]:
    print(country)

Nigeria
Uganda
Ireland
Tanzania

In [10]:
print(countries[::-1])

['Congo', 'Rwanda', 'Tanzania', 'Ireland', 'Uganda', 'Nigeria', 'Scotland', 'Kenya']

In [11]:
python = "Python is very difficult to learn"

#print p
print(python[0])

#print a
print(python[-3])

#print v
print(python[10])

#print n
print(python[-1])
print(python[5])

#print ff
print(python[17:19])

#print Python
print(python[:6])

P
a
v
n
n
ff
Python

In [12]:
#print difficult
print(python[15:24])

#print learn
print(python[-5:])

difficult
learn

In [13]:
#print every third letter
print(python[0::3])

#print the message backwards
print(python[32::-1])

#print every 5th letter backwards
print(python[-5::-5])

#print difficult backwards
print(python[23:14:-1])

Ph  rdfu  a
nrael ot tluciffid yrev si nohtyP
ltfysh
tluciffid

In [14]:
python = "Python is very difficult to learn"

In [15]:
#print every 5th letter backwards
print(python[-1:-32:-5])

n lfrit

In [16]:
airport = ["glasgow", 1234, ["nairobi", "dublin", "lagos"]]
airport[0] = "london"

In [26]:
student = ["Orla", "Johnson", 2003, "Scotland", [99,67,84,58,75]]
#print out the country Orla is from
print(student[3])

#print out the year she was born
print(student[2])

#print out her surname
print(student[1])

#print out the age she will be this year
age = 2025 - student[2]
print(age)
student = student[:3] + [age] + student[3:]
print(student)

#print out her initials
print(f"{student[0][0]}.{student[1][0]}.")

#change her country to kenya
student[4] = "Kenya"
print(student)
m 
#change her surname to Ross
student[1] = "Ross"
print(student)

#print out the list of results of her exam
print(student[5])

#calculate the total of her exams and add it to the list
total = 0
for i in student[5]:
    total = total + i
print(f"Total marks = {total}")
student = student + [total]
print(student)

Scotland
2003
Johnson
22
['Orla', 'Johnson', 2003, 22, 'Scotland', [99, 67, 84, 58, 75]]
O.J.
['Orla', 'Johnson', 2003, 22, 'Kenya', [99, 67, 84, 58, 75]]
['Orla', 'Ross', 2003, 22, 'Kenya', [99, 67, 84, 58, 75]]
[99, 67, 84, 58, 75]
Total marks = 383
['Orla', 'Ross', 2003, 22, 'Kenya', [99, 67, 84, 58, 75], 383]

In [39]:
marks = [[5,3,8],[69,23,55,84,93,12],[12,23,17,9,6],[137,287]]
subject = ["Data Science", "Fundamentals", "Software Engineering", "Machine Learning"]

In [49]:
marks = [[5,3,8],[69,23,55,84,93,12],[12,23,17,9,6],[137,287]]

for num in marks:
    total = 0
    count = 0
    for i in num:
        total = total + i
        count = count + 1
        average = total/count
    averages = [] + [average]
    print(f"average of {num} = {average}")
print(averages)

average of [5, 3, 8] = 5.333333333333333
average of [69, 23, 55, 84, 93, 12] = 56.0
average of [12, 23, 17, 9, 6] = 13.4
average of [137, 287] = 212.0
[212.0]

In [53]:
cities = ["Dublin","Glasgow","Edinburgh",["Nairobi","Lagos","Cairo"],"London"]
for city in cities[3]:
    print(f"{city[1][0]}")

a
a
a

In [54]:
cities = ["Dublin","Glasgow","Edinburgh",["Nairobi","Lagos","Cairo"],"London"]
for city in cities[3]:
    print(city[:2])

Na
La
Ca