In [1]:
# produce the output = ["This", "is", "a", "test"]
sentence = "This is a test"

wordlist = []
word = ""
for character in sentence:
    if character != " ":
        word += character
    else:
        wordlist += [word]
        word = ""
wordlist += [word]
print(wordlist)

['This', 'is', 'a', 'test']

In [ ]:
# #produce output "hello everyone in computing" 
# sentence2 = "       hello everyone in computing       "

# wordlist2 = []
# word2 = ""

# for character in sentence2:
#     while character != " ":
#         word2 += character

# print(word2)

In [2]:
for i in range(len(sentence)):
    print(f"{sentence[i]} is at position {i}")

T is at position 0
h is at position 1
i is at position 2
s is at position 3
  is at position 4
i is at position 5
s is at position 6
  is at position 7
a is at position 8
  is at position 9
t is at position 10
e is at position 11
s is at position 12
t is at position 13

In [3]:
start = 0
while start < len(sentence):
    print(f"{sentence[start]} is at position {start}")
    start +=1

T is at position 0
h is at position 1
i is at position 2
s is at position 3
  is at position 4
i is at position 5
s is at position 6
  is at position 7
a is at position 8
  is at position 9
t is at position 10
e is at position 11
s is at position 12
t is at position 13

In [4]:
sentence = "       hello  kenya   "

end = len(sentence) -1
while end >=0:
    print(f"{sentence[end]} is at position {end}")
    end -= 1

  is at position 21
  is at position 20
  is at position 19
a is at position 18
y is at position 17
n is at position 16
e is at position 15
k is at position 14
  is at position 13
  is at position 12
o is at position 11
l is at position 10
l is at position 9
e is at position 8
h is at position 7
  is at position 6
  is at position 5
  is at position 4
  is at position 3
  is at position 2
  is at position 1
  is at position 0

In [6]:
sentence = "       hello  kenya   "

i = 0
while sentence[i] == " " and i < len(sentence):
    print(f"{sentence[i]} is at position {i}")
    i +=1
print(f"{sentence[i]} is the start at position {i}")

  is at position 0
  is at position 1
  is at position 2
  is at position 3
  is at position 4
  is at position 5
  is at position 6
h is the start at position 7

In [10]:
sentence = "       hello  kenya   "

i = 0
while sentence[i] == " " and i < len(sentence):
    i +=1
    if character != " ":
        word += character
    else:
        wordlist += [word]
        word = ""
    wordlist += [word]

In [12]:
sentence = "       hello  kenya   "

end = len(sentence) -1
while end >= 0 and sentence[end]== " ":
    print(f"{sentence[end]} is at position {end}")
    end -=1
print(f"{sentence[end]} is at position {end}")

  is at position 21
  is at position 20
  is at position 19
a is at position 18

In [16]:
new_sentence = sentence[i:end]
print(new_sentence)

hello  keny

In [17]:
tutor_info = [["Sofiat",25,"Lagos"],["Stephen",30,"St Andrews"],
             ["Orla",21,"London"],["Fionnuala",100,"Dublin"]]

for tutor in tutor_info:
    print(tutor[2])

Lagos
St Andrews
London
Dublin

In [18]:
tutor_info = [["Sofiat",[5,3,6,1]],["Stephen",[9,6,8]],
             ["Orla",[7,7,3,4,1]],["Fionnuala",[3,4,2]]]

marks = []
for tutor in tutor_info:
    marks.append(tutor[1][-1])
print(marks)

[1, 8, 1, 2]

In [26]:
with open("text-files/City_temps.txt") as f:
    new = []
    for line in f:
        clean = line.strip()
        data = clean.split(":")
        new.append(data)
    print(new)

[['Nairobi', '23 21 19 25'], ['Lagos', '33 31 32 33 30'], ['Glasgow', '12 11 13']]

In [9]:
with open("text-files/tutor_ages.txt")as f:
    tutor_ages = []
    for line in f:
        clean = line.strip()
        data = clean.split(',')
        tutor_ages.append(data)
    print(tutor_ages)

[['Sofiat', '25'], ['Stephen', '30'], ['Fionnuala', '100'], ['Kenniche', '49'], ['Grace', '18'], ['Orla', '21'], ['Ariane', '28']]

In [44]:
#write a function that takes the list tutor_age and a name and returns the age of that tutor

def find_age(tutor_ages, name):
    for tutor in tutor_ages:
        if name == tutor[0]:
            return tutor[1]
print(find_age(tutor_ages, 'Grace'))

18

In [46]:
#write a function that takes the list tutor_age and a name and returns the age of that tutor
def find_age(name):
    for tutor in tutor_ages:
        if name == tutor[0]:
            return tutor[1]
find_age('Stephen')

'30'

In [48]:
#write a function that takes the list tutor_age and a age and returns the name of that tutor
def find_name(age):
    for person in tutor_ages:
        if age == person[1]:
            return person[0]
print(find_name('30'))

Stephen

In [10]:
#write a function that takes the list tutor_age and an age and returns all the tutors that are younger than that age.
print(tutor_ages)
def find_younger(anylist, age):
    young_tutors = []
    for tutor in anylist:
        tutor[1] = int(tutor[1])
        if tutor[1] < age:
            young_tutors.append(tutor[0])
    return young_tutors
    
print(find_younger(tutor_ages,25))

[['Sofiat', '25'], ['Stephen', '30'], ['Fionnuala', '100'], ['Kenniche', '49'], ['Grace', '18'], ['Orla', '21'], ['Ariane', '28']]
['Grace', 'Orla']

In [64]:
y = [a for a in tutor_ages if int(a[1]) < 25]

In [65]:
y

[['Grace', 18], ['Orla', 21]]

In [18]:
#read in all the data from the file temperatures. 
with open("text-files/Temperatures.txt")as temp:
    data = []
    for line in temp:
        clean = line.strip()
        blue = clean.split(',')
        data.append(blue)
    print(data)

[['26.2', ' 24.3', ' 21.1', ' 20.9', ' 25.4', ' 23.0'], ['33.4', ' 36.4', ' 24.2'], ['15.2', ' 18.7', ' 16.5', ' 14.2', ' 16.5'], ['18.5', ' 16.3', ' 16.7', ' 17.1', ' 17.0', ' 15.5', ' 17.4'], ['20.2', ' 20.4', ' 20.1', ' 14.6', ' 17.9'], ['41.5', ' 41.3', ' 41.9', ' 42.3', ' 43.1', ' 43.0'], ['27.6', ' 29.1', ' 28.2', ' 26.5'], ['28.2', ' 28.6', ' 28.4', ' 29.3', ' 27.6']]

In [23]:
#read in all the data from the file temperatures. storing all values as numbers. 
with open("text-files/Temperatures.txt")as temp:
    data = []
    for line in temp:
        clean = line.strip()
        blue = clean.split(',')

        new = []
        for b in blue:
            new.append(float(b))

        data.append(new)
    print(data)

[[26.2, 24.3, 21.1, 20.9, 25.4, 23.0], [33.4, 36.4, 24.2], [15.2, 18.7, 16.5, 14.2, 16.5], [18.5, 16.3, 16.7, 17.1, 17.0, 15.5, 17.4], [20.2, 20.4, 20.1, 14.6, 17.9], [41.5, 41.3, 41.9, 42.3, 43.1, 43.0], [27.6, 29.1, 28.2, 26.5], [28.2, 28.6, 28.4, 29.3, 27.6]]

In [24]:
# write a function that takes all the temperatures and calculates the average of each list storing the averages in a new list

In [30]:
def temp_avgs(data):
    avgs = []
    for group in data:
        avg = sum(group)/len(group)
        avgs.append(round(avg,3))
    return avgs
print(temp_avgs(data))

[23.483, 31.333, 16.22, 16.929, 18.64, 42.183, 27.85, 28.42]

##Dictionaries##

In [2]:
marks = [[5,3,8],[69,23,55,84,93,12],[12,23,17,9,6],[137,287]]
tutors = ["Kenniche", "Fionnuala", "Stephen", "Sofiat"]
subject = ["Data science", "Fundamentals", "Software", "Machine Learing"]

In [6]:
countries_dict = {"Kenya":"Nairobi","Uganda":"Kampala","Ghana":"Accra", "Ethiopia":"Adis", "Sudan":"Khartoum"}
for country in countries_dict:
    print(f"Capital city in {country} is {countries_dict[country]}")

Capital city in Kenya is Nairobi
Capital city in Uganda is Kampala
Capital city in Ghana is Accra
Capital city in Ethiopia is Adis
Capital city in Sudan is Khartoum

In [9]:
def city_finder(country):
    if country in countries_dict:
        print(f"The capital of {country} is {countries_dict[country]}")
    else:
        print(f"Sorry, we're still researching on that")

In [10]:
city_finder('Sudan')

The capital of Sudan is Khartoum

In [8]:
neighbor = input("what country?")
if neighbor in countries_dict:
    print(f"The capital of {neighbor} is {countries_dict[country]}")

what country? Sao Tome & Principe

In [11]:
##Adding values to a dictionary
countries_dict["Angola"] = "Luanda"

print(countries_dict)

{'Kenya': 'Nairobi', 'Uganda': 'Kampala', 'Ghana': 'Accra', 'Ethiopia': 'Adis', 'Sudan': 'Khartoum', 'Angola': 'Luanda'}

In [12]:
##Changing Vaues
countries_dict["Angola"] = "Sao Paulo"

print(countries_dict)

{'Kenya': 'Nairobi', 'Uganda': 'Kampala', 'Ghana': 'Accra', 'Ethiopia': 'Adis', 'Sudan': 'Khartoum', 'Angola': 'Sao Paulo'}

In [ ]:
#