In [10]:
x = input("Enter first number ")
y = input("Enter second number ")
x = int(x)
y = int(y)
print("x+y= ", x+y)

Enter first number  12
Enter second number  12

x+y=  1212

In [7]:
print(12+7)

19

In [11]:
x = int(input("Enter first number "))
y = int(input("Enter second number "))

print("x+y= ", x+y)

Enter first number  12
Enter second number  12

x+y=  24

In [1]:
name = input("Please enter your first name ")
print("Hello", name +". \nWelcome!!")
year = int(input("What year were you born?"))
age = 2025 - year
print("You are", age, "years old this year")

Please enter your first name  Blue

Hello Blue.
 Welcome!!

What year were you born? 2000

You are 25 years old this year

In [20]:
x = float(input("Enter first number "))
y = float(input("Enter second number "))

print("x+y= ", x+y)

Enter first number  12
Enter second number  12

x+y=  24.0

In [18]:
x = float(input("Enter first number "))
y = float(input("Enter second number "))

print("x+y= ", x+y)

Enter first number  12.45
Enter second number  12

x+y=  24.45

In [27]:
import turtle as t

t.reset()
l = int(input("What is the length of your square?"))
t.forward(l)
t.left(90)
t.forward(l)
t.left(90)
t.forward(l)
t.left(90)
t.forward(l)

What is the length of your square? 100

In [5]:
import turtle as t


t.reset()
t.left(90)
t.penup()
t.forward(200)
t.right(180)
t.pendown()
t.fillcolor('red')
t.begin_fill()
t.circle(60)
t.end_fill()

t.penup()
t.forward(200)
t.left(90)
t.forward(50)
t.pendown()
t.fillcolor('yellow')
t.begin_fill()
t.circle(60)
t.end_fill()

t.right(90)
t.penup()
t.forward(25)
t.pendown()
t.right(90)
t.fillcolor('green')
t.begin_fill()
t.circle(60)
t.end_fill()

t.left(90)
t.penup()
t.forward(150)
t.left(90)
t.pendown()

t.pensize(10)
t.color('black')
t.forward(90)
t.left(90)
t.forward(460)
t.left(90)
t.forward(170)
t.left(90)
t.forward(460)
t.left(90)
t.forward(90)

t.right(90)
t.pensize(20)
t.forward(200)

In [6]:
import turtle as t

t.reset()
t.penup()
t.goto(-2,-300)
t.pendown()
t.fillcolor('black')
t.begin_fill()
t.forward(30)
t.left(90)
t.forward(60)
t.left(90)
t.forward(30)
t.left(90)
t.forward(60)
t.end_fill()

t.pensize(5)
t.left(180)
t.penup()
t.forward(130)
t.left(90)
t.forward(80)
t.right(90)
t.pendown()
t.color('red')
t.fillcolor('red')
t.begin_fill()
t.circle(60)
t.end_fill()

t.right(90)
t.penup()
t.forward(150)
t.left(90)
t.pendown()
t.color('red')
t.fillcolor('red')
t.begin_fill()
t.circle(60)
t.end_fill()

t.right(90)
t.penup()
t.forward(150)
t.left(90)
t.pendown()
t.color('green')
t.fillcolor('green')
t.begin_fill()
t.circle(60)
t.end_fill()

t.penup()
t.forward(120)
t.left(90)
t.forward(90)

t.right(90)
t.pendown()
t.color('red')
t.fillcolor('red')
t.begin_fill()
t.circle(60)
t.end_fill()

t.left(90)
t.penup()
t.forward(140)
t.right(90)
t.pendown()
t.color('green')
t.fillcolor('green')
t.begin_fill()
t.circle(60)
t.end_fill()

t.right(90)
t.penup()
t.forward(15)
t.left(90)
t.forward(70)
t.right(90)
t.pendown()
t.fillcolor('green')
t.begin_fill()
t.circle(55)
t.end_fill()

t.penup()
t.left(90)
t.forward(120)
t.left(90)
t.right(90)
t.pendown()
for i in range(5):
    t.forward(90)
    t.left(144)

In [4]:
name = input("Please enter your first name \n")
print("Hello", name +". \nWelcome!!\n")
year = int(input("What year were you born in?"))
age = 2025 - year
print(name+ ', You are', age, 'years old')

Please enter your first name
 Yrsa

Hello Yrsa.
Welcome!!

What year were you born in? 1972

Yrsa, You are 53 years old

In [3]:
import turtle as t

t.reset()
l = int(input("What is the length of your square?"))
t.forward(l)
t.left(90)
t.forward(l)
t.left(90)
t.forward(l)
t.left(90)
t.forward(l)

What is the length of your square? 0.1

In [21]:
import turtle as t

t.reset()
l = int(input("What is the length of your square?"))

for i in range(4):
    t.forward(l)
    t.left(90)

What is the length of your square? 100

In [ ]:
import turtle as t

t.reset()
l = int(input("What is the length of your square?"))

for i in range(4):
    t.forward(l)
    t.left(90)

In [29]:
import turtle as t

t.reset()
l = 100

for i in range(6):
    t.forward(l)
    t.left(60)

In [27]:
import turtle as t

t.reset()
l = 300

for i in range(3):
    t.forward(l)
    t.left(120)

In [33]:
import turtle as t

t.reset()
l = 100

for i in range(20):
    t.forward(l)
    t.left(162)

In [38]:
import turtle as t

t.reset()
l = 100

for i in range(20):
    t.forward(l)
    t.left(198)

In [1]:
import turtle as t

t.reset()
l = 100

t.right(90)
for i in range(5):
    t.forward(l)
    t.left(144)

In [1]:
for i in range(20,6):
    print(i)

In [2]:
for i in range(20,26):
    print(i)

20
21
22
23
24
25

In [21]:
x = int(input("What number would you like a table for?"))
for i in range(11):
    print(f'{i} x {x} = ', i*x)

What number would you like a table for? 22

0 x 22 =  0
1 x 22 =  22
2 x 22 =  44
3 x 22 =  66
4 x 22 =  88
5 x 22 =  110
6 x 22 =  132
7 x 22 =  154
8 x 22 =  176
9 x 22 =  198
10 x 22 =  220

In [25]:
total = 0
print(f"total at the start is {total}")
for i in range(5):
    num = int(input("Enter a number "))
    print(f"num = {num}")
    total = total + num
    print(f"new total = {total}\n")
print(f"final total = {total}")

total at the start is 0

Enter a number  12

num = 12
new total = 12

Enter a number  12

num = 12
new total = 24

Enter a number  12

num = 12
new total = 36

Enter a number  12

num = 12
new total = 48

Enter a number  12

num = 12
new total = 60

final total = 60