In [25]:
import turtle as t

t.reset()
t.goto(-300,0)
for i in range(4):
    t.forward(100)
    t.left(90)
t.forward(100)
for i in range(4):
    t.forward(100)
    t.left(90)
t.forward(100)
for i in range(4):
    t.forward(100)
    t.left(90)
t.forward(100)
for i in range(4):
    t.forward(100)
    t.left(90)
t.forward(100)

In [53]:
import turtle as t

t.reset()
for j in range(4):
    for i in range(4):
        t.right(90)
        t.forward(100)
    t.forward(100)

In [52]:
import turtle as t

t.reset()
t.right(90)
for j in range(4):
    for i in range(4):
        t.right(90)
        t.forward(100)
    t.left(90)
    for i in range(4):
        t.forward(100)
        t.left(90)
    t.forward(100)

In [55]:
import turtle as t

t.reset()

for j in range(4):
    for i in range(4):
        t.right(90)
        t.forward(100)
    t.forward(100)

In [8]:
import turtle as t

t.reset()
for j in range(4):
    for i in range(4):
        t.pendown()
        t.right(90)
        t.forward(100)
        t.penup()
    t.forward(100)

In [1]:
import turtle as t

t.reset()
t.penup()
x = 200
t.goto(-200,x)
for k in range(4):
    for j in range(4):
        for i in range(4):
            t.pendown()
            t.right(90)
            t.forward(60)
            t.penup()
        t.forward(60)
    x = x - 60
    t.penup()
    t.goto(-200,x)

In [16]:
for i in range(5,0,-1):
    output = ""
    for j in range(i):
        output = output + "*"
    print(output)

*****
****
***
**
*

In [26]:
results = [2,3,3,6,8,2,6]
for i in range(6):
    print(f"{results[i]} is at position {i} in the list results")

2 is at position 0 in the list results
3 is at position 1 in the list results
3 is at position 2 in the list results
6 is at position 3 in the list results
8 is at position 4 in the list results
2 is at position 5 in the list results

In [28]:
results = [2,3,3,6,8,2,6]
total = 0
print(f"{results[0]}")

2

In [33]:
results = [2,3,3,6,8,2,6]
total = 0
for i in range(7):
    total = total + results[i]
    print(total)

print(f"final total = {total}")

2
5
8
14
22
24
30
final total = 30

In [42]:
total = 0
results = [2,3,3,6,8,2,6]
for i in range(7):
    total = total + results[i]
    print(f"total is {total}")
print(f"final total = {total}")

total is 2
total is 5
total is 8
total is 14
total is 22
total is 24
total is 30
final total = 30

In [2]:
total = 0
results = [2,3,3,6,8,2,6]
for i in results:
    total = total + i
    print(f"total is {total}")
print(f"final total = {total}")

total is 2
total is 5
total is 8
total is 14
total is 22
total is 24
total is 30
final total = 30

In [58]:
marks = [17,23,8,42,33,12,25,9]
count = 0
total = 0

for num in marks:
    total = total + num
    count = count + 1
    
average = total/count

print(f"final total = {total}\n")
print(f"count = {count}")
print(f"average = {average}")

final total = 169

count = 8
average = 21.125

In [59]:
marks = [17,23,8,42,33,12,25,9]
results = [2,3,3,6,8,2,6]

list = marks + results
print(list)

[17, 23, 8, 42, 33, 12, 25, 9, 2, 3, 3, 6, 8, 2, 6]

In [62]:
marks = [50, 60, 64]
students = ['Milo', 'Wes', 'Vilile']
for i in range(3):
    print(f"{students[i]} = {marks[i]}")

Milo = 50
Wes = 60
Vilile = 64

In [1]:
students = ["stephen", "sofiat", "fionnuala", "orla", "grace", "kennechi"]
marks = [100,75, 10, 50, 66, 29]

for i in range(len(students)):
   print(f"{students[i]} = {marks[i]}")

stephen = 100
sofiat = 75
fionnuala = 10
orla = 50
grace = 66
kennechi = 29